#expandTextareaButton,
.expandTextareaButton {
  display: inline-block;
  width: 16px;
  height: 20px;
  background-position: 5px -644px;
  background-repeat: no-repeat;
  background-image: url("https://www.wikitree.com/g2g/qa-plugin/wysiwyg-editor/ckeditor/plugins/icons.png?t=K5H9");
  line-height: 25px;
  height: 15px;
  border: 1px solid grey;
  padding: 5px;
  position: relative;
  top: -1px;
  border-radius: 3px;
  background-color: #eee;
  margin-right: 2px;
  cursor: pointer;
}

.expandTextareaButton {
  display: block;
  margin-top: 0.2em;
}

div.CodeMirror.expanded,
textarea#wpTextbox1.expanded {
  width: 100% !important;
  height: calc(95% - 60px) !important;
  border-radius: 5px;
  position: relative;
  resize: none;
}

#toolbar.expanded {
  position: fixed !important;
  top: 5%; /* 5% from the top */
  left: 5%;
  width: 90% !important;
  height: calc(90% - 60px) !important;
  z-index: 1001;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
  box-shadow: 0px 0px 7px 7px rgba(227, 223, 227, 1);
}

#familyDropdown.expanded {
  margin: 0;
  display: inline;
  position: relative;
}

#editorExpanderFixedDiv textarea.expanded {
  width: 80vw;
  height: calc(80vh - 100px);
  min-width: 410px;
}

#editorExpanderFixedDiv {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  border: 1px solid forestgreen;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 5px 5px 5px rgba(227, 223, 227, 1);
  background-color: white;
}
