:root {
  --a11y-spacing: 1em;
  --a11y-citation-size: 80%;
  --a11y-citation-spacing: 0.1em;
}

.a11y-list-spacing .x-content > ol > li,
.a11y-list-spacing .x-content > ul > li {
  margin-top: var(--a11y-spacing);
  margin-bottom: var(--a11y-spacing);
}

.a11y-src-spacing ol.x-sources > li,
.a11y-src-spacing ul.x-sources > li {
  margin-top: var(--a11y-spacing);
  margin-bottom: var(--a11y-spacing);
}

.a11y-src-bold .a11y-src-first {
  font-weight: bold;
}

.a11y-ref-clean sup.reference {
  font-size: var(--a11y-citation-size);
  white-space: nowrap;
}

.a11y-ref-clean .x-ref-bracket, .a11y-ref-clean .x-ref-separator, .a11y-ref-clean sup.reference a {
  display: inline-block;
}

.a11y-ref-clean .x-ref-separator, .a11y-ref-clean .x-ref-bracket:first-child {
  margin-right: var(--a11y-citation-spacing);
}

.x-ref-bracket:last-child {
  margin-left: var(--a11y-citation-spacing);
}

.a11y-ref-clean sup.reference a {
  text-decoration: none;
}

.toggle.reading-mode {
  position: absolute;
  right: 3px;
  bottom: 12px;
}

.toggle.show-sources {
  position: relative;
  top: -2px;
  margin-left: 8px;
  visibility: hidden;
}

.collapse-sources .toggle.show-sources {
  visibility: visible;
}

.hide-sidebar .x-sidebar {
  display: none !important;
}

.collapse-sources:not(.expand-sources) .x-sources:not(h2):not(a[name]) {
  display: none !important;
}

.hide-citations .x-citation {
  display: none !important;
}

.hide-page-tabs .x-tabs-page {
  display: none !important;
}

.hide-view-tabs .x-tabs-view {
  display: none !important;
}

.hide-audit-data .x-audit {
  display: none !important;
}

.hide-status .x-content .status {
  display: none !important;
}

.hide-stickers .x-sticker {
  display: none !important;
}

.hide-toc .x-content .toc {
  display: none !important;
}

.hide-inline-images .x-inline-img {
  display: none !important;
}

.hide-inline-tables .x-inline-table {
  display: none !important;
}

.hide-comments .x-memories,
.hide-comments .x-comments,
.hide-comments .x-merges {
  display: none !important;
}

.hide-heading-extras .x-widget,
.hide-heading-extras .x-privacy {
  display: none !important;
}

.hide-edits .x-edit,
.hide-edits .x-alert:not(.status) {
  display: none !important;
}

.hide-connections .x-connections {
  display: none !important;
}

.hide-categories .x-categories {
  display: none !important;
}
