/* Styles for pendingMergesFilters feature */
body.browse-matches ol br {
  display: none;
}
body.browse-matches ol li br {
  display: block;
}
body.browse-matches ol li {
  padding-bottom: 2em;
}
body.browse-matches #pendingMergesFilterButtons {
  margin: 1em auto;
}
body.browse-matches #pendingMergesFilterButtons button.filtered {
  color: #f0f0f0;
  background-color: forestgreen;
}

body.browse-matches #pendingMergesFilterButtons span {
  margin-right: 1em;
  font-weight: 600;
  color: #25422d;
}
