#distanceFromYou{
	font-size:0.5em;
	font-weight:bold;
	padding:0.2em;
	border:2px solid forestgreen;
	border-radius:50%;
	width:3em;
	text-align:center;
	background:white;
	opacity:0.8;
    z-index: 1;
}
button.copyWidget{
    z-index:10;
}