#timeline.wrap,
.familySheet.wrap {
  width: 80%;
  white-space: normal;
}
#timeline,
.familySheet {
  white-space: nowrap;
  height: auto;
  position: absolute;
  width: auto;
  left: 10%;
  z-index: 4000;
  background: white;
  border: 3px solid forestgreen;
  border-radius: 1em;
  box-shadow: 1em 1em 1em #ccc;
  padding: 0.3em;
  display: none;
  cursor: move;
}
#timelineTable td {
  padding: 0.3em;
}
#timelineTable caption {
  font-size: 1.5em;
  font-weight: bold;
}
.tlBioAge {
  text-align: center;
}
th.tlBioAge {
  text-align: center;
}
th.tlDate,
th.tlEventDescription,
th.tlEventLocation {
  text-align: left;
}
.tlDate {
  white-space: nowrap;
}
#timeline x,
.familySheet x {
  position: absolute;
  top: 0;
  right: 0.5em;
  font-weight: bold;
  cursor: pointer;
}
#timeline w {
  position: absolute;
  top: 0;
  left: 0.5em;
  font-weight: bold;
  cursor: pointer;
}
#timeline .BioPerson,
#timeline .marriage {
  font-weight: bold;
}
#timeline tr.BioPerson.Birth {
  border-top: 1px solid forestgreen;
}
#timeline tr.BioPerson.Death {
  border-bottom: 1px solid forestgreen;
}
#timelineTable {
  width: 98%;
  margin: auto;
}
