.scissors {
  font-size: 1rem;
}
ul.scissors li {
  margin-right: 0.7rem;
}
h1 ul.scissors,
h2 ul.scissors,
h3 ul.scissors,
h4 ul.scissors,
h5 ul.scissors,
h6 ul.scissors {
  display: inline-block;
  margin-bottom: 0.3em;
}

#jump-nav > li.wbe-copy-list-item > ul.copy--buttons.scissors {
  display: inline-flex;
  list-style: none;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

#jump-nav > li.wbe-copy-list-item > ul.copy--buttons.scissors > li {
  align-items: center;
  display: inline-flex;
}
