/* Styles for highlightWBEFeatures feature */
.wbe-highlight input[type="button"].wbe,
.wbe-highlight img.expandTextareaButton,
.wbe-highlight #nVitals,
.wbe-highlight button.wbe-tab,
.wbe-highlight #extraWatchlistWindow,
.wbe-highlight div.wbe-popup,
.wbe-highlight #addFSID,
.wbe-highlight menu.subMenu,
.wbe-highlight button.special-collapse-button,
.wbe-highlight button.collapse-toggle,
.wbe-highlight button.collapse-all-toggle,
.wbe-highlight button.collapse-toc-toggle,
.wbe-highlight #toggleTipsColumn span.icon--toggler,
.wbe-highlight #toggleFamilyColumn img,
.wbe-highlight #familyDropdown .custom-dropdown-toggle,
html[data-wbe-categorydisplay] .wbe-highlight #Categories,
.wbe-highlight #themeTable,
.wbe-highlight #themeTable caption,
.wbe-highlight #showAllDegreesButton,
.wbe-highlight #matchup-popup,
.wbe-highlight #searchBar.showSearch,
.wbe-highlight span.awtG2GLink,
.wbe-highlight button.copyLocation,
.wbe-highlight button#surnameTableMoreButton,
.wbe-highlight #leftButton,
.wbe-highlight #rightButton,
.wbe-highlight #saveSearchFromButton,
.wbe-highlight #flipLocationsButton,
.wbe-highlight .wideTableButton,
.wbe-highlight button.moreDetails,
.wbe-highlight button#surnameSummaries,
.wbe-highlight #customActionsContainer button,
.wbe-highlight #anniversariesTable_wrapper,
.wbe-highlight .categoryTablesButton,
.wbe-highlight #hideClubBadges,
.wbe-highlight #moveClubBadgesDown,
.wbe-highlight .myConnectionsTableButton,
.wbe-highlight #clonedEditButton {
  border: var(--wbe-orange) 2px solid !important;
}

.wbe-highlight span.awtG2GLink {
  border-width: 1px !important;
}

.wbe-highlight input.catCheck {
  outline: auto 1px var(--wbe-orange) !important;
}

.wbe-highlight #extraWatchlistWindow,
.wbe-highlight div.wbe-popup,
.wbe-highlight #myDrafts {
  box-shadow: 0.1em 0.1em 0.1em 0.1em var(--wbe-orange-light) !important;
}
.wbe-highlight button.wbe-tab,
.wbe-highlight span.awtG2GLink {
  border-bottom: none !important;
}
.wbe-highlight textarea.wbe,
.wbe-highlight form.wbe,
.wbe-highlight div.familySheet,
.wbe-highlight div.timeline,
.wbe-highlight #summaryOptionsContainer,
.wbe-highlight #bioCheckResultsContainer,
.wbe-highlight #activePagePreview,
.wbe-highlight #categoryFilterButtonsContainer,
.wbe-highlight table.degreeCount,
.wbe-highlight #myDrafts,
.wbe-highlight #cc7DeltaContainer {
  border: var(--wbe-orange) 3px solid !important;
}
.wbe-highlight textarea.wbe,
.wbe-highlight div.wbe-popup,
.wbe-highlight #addFSID,
.wbe-highlight #nVitals,
.wbe-highlight #themeTable,
.wbe-highlight #themeTable caption,
.wbe-highlight #matchup-popup,
.wbe-highlight #familyDropdown .custom-dropdown-toggle,
.wbe-highlight #toggleTipsColumn span.icon--toggler,
.wbe-highlight #toggleFamilyColumn img,
.wbe-highlight #summaryOptionsContainer,
.wbe-highlight #searchBar.showSearch {
  border-radius: 5px !important;
}
.wbe-highlight .myMenuGears,
.wbe-highlight #changeSummaryGears,
.wbe-highlight ul.scissors img {
  filter: var(--wbe-icon-filter) !important;
}
.wbe-highlight #addFSID,
.wbe-highlight #summaryOptionsContainer,
.wbe-highlight #anniversariesTable_wrapper {
  padding: 0.5em;
  margin: 0.5em;
  display: block;
}
.wbe-highlight #tabs .clipboardContainer {
  border-left: 0.4em solid var(--wbe-orange) !important;
  margin-left: 0.5em;
}
