/* image_zoom.css */
.image_zoom_overlay {
  position: absolute;
  bottom: 10px; /* Adjust as per your needs */
  right: 10px; /* Adjust as per your needs */
  z-index: 10;
  font-weight: normal;
  color: forestgreen; /* Color of the '+' symbol */
  padding: 1px 5px; /* Adjust as per your needs */
  cursor: zoom-in; /* Indicate that the overlay is clickable */
  font-size: 0.8em; /* Size of the '+' symbol, Adjust as per your needs */
}
.image_zoom_overlay span {
  visibility: hidden;
}
.image_zoom_overlay:hover span {
  visibility: visible;
}
