/* image_zoom.css */
.image_zoom_overlay {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: right;
  z-index: 10;
  font-weight: normal;
  color: forestgreen;
  padding: 1px 5px;
  cursor: zoom-in; /* Indicate that the overlay is clickable */
  font-size: 1em;
}
.image_zoom_overlay.small-image {
  height: 1em;
  width: 1em;
  font-size: 0.8em;
}

.image_zoom_overlay span {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  right: 0;
}
.zoomable:hover + div span {
  visibility: visible;
}
.image_zoom_overlay:hover span,
.image_zoom_overlay span:hover {
  visibility: visible;
}

#magnifier {
  position: absolute;
  pointer-events: none;
  width: 300px;
  height: 100px;
  border: 3px solid #000;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.5);
  cursor: none !important;
  background-repeat: no-repeat;
  display: none;
  z-index: 1000000;
}

.toggle-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999999;
}

#toggleMagnifier,
#toggleZoomInPlace {
  display: none;
}

.magnifierActive {
  cursor: none !important;
}
