# Mac internal files
.DS_Store

# installed node.js modules
node_modules

# webpack created build folder
dist

# test output files (used to compare to reference output files)
*_testout.txt
.eslintrc.js
.vscode/settings.json
.vscode/tasks.json
*.zip
