# Mac internal files
.DS_Store

# installed node.js modules
node_modules

# webpack created build folder
dist

# test output files (used to compare to reference output files)
*_testout.txt
.eslintrc.js
.vscode/settings.json
.vscode/tasks.json
*.zip

# WinMerge backups
*.bak

# generated during build process
public/features/wtPlus/templatesExp.json

# Windows file system links
*.lnk