#dateClarificationModal {
  display: inline-block;
  position: absolute;
  border-radius: 1em;
  border: 1px solid forestgreen;
  background-color: white;
  padding: 0.2em;
  margin-left: 1em;
}
#dateClarificationModal p {
  margin: 0.2em;
  display: inline-block;
}
#dateClarificationModal x {
  color: red;
  font-weight: bold;
  cursor: pointer;
  margin-right: 0.5em;
}
#dateClarificationModal x:hover {
  color: darkred;
}
#dateClarificationModal button {
  margin: 0.2em;
  padding: 0.2em;
  font-size: 1em;
}
#dateWarning {
  color: red;
  font-weight: bold;
  display: inline-block;
  width: fit-content;
  margin-left: 1em;
  position: absolute;
  background-color: white;
  border-radius: 1em;
  padding: 0.2em 1em;
  border: 2px solid black;
}
