/* Styles for hidePhotoColumn feature */
body.hiddenSidebar #wpTextbox1,
body.hiddenSidebar div.CodeMirror,
body.hiddenSidebar #editform .col-lg-8 {
  width: 100% !important;
}
body.hiddenSidebar #Lower-Sidebar,
body.hiddenSidebar.edit-space div.edit--sidebar {
  position: absolute;
  top: 0;
  right: 0;
}
body.hiddenSidebar div.container:has(h2#Photo),
body.hiddenSidebar.edit-space div.row:has(div.photo--wrapper) {
  position: relative;
}
#toggleTipsColumn {
  float: right;
}
body #toggleTipsColumn .plus {
  display: none;
}
body.hiddenSidebar #toggleTipsColumn .plus {
  display: block;
}
body.hiddenSidebar #toggleTipsColumn .minus {
  display: none;
}

body.enhancedEditorChosen #toggleTipsColumn::after {
  left: -10em;
}

body.hiddenSidebar .family-section-wrapper {
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
  max-height: 1000px; /* or some large enough height */
  opacity: 1;
}

body.hiddenSidebar .family-section-wrapper.hidden {
  max-height: 0;
  opacity: 0;
  pointer-events: none;
}
body.hiddenSidebar hr.hr-transition {
  transition: opacity 0.4s ease;
}
body.hiddenSidebar hr.hr-hidden {
  opacity: 0;
}

#wbe-family-transition {
  overflow: hidden;
  transition: height 0.3s ease, opacity 0.3s ease;
}
