#cc7DeltaContainer {
  position: absolute;
  top: 200px;
  left: 30%;
  border: 1px solid forestgreen;
  border-radius: 5px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 1em 1em 1em #ccc;
  z-index: 1000;
  width: 500px;
  max-height: 600px;
  overflow: auto;
}
#cc7DeltaContainer x {
  position: absolute;
  top: 0;
  right: 0.5em;
  font-size: 20px;
  cursor: pointer;
}
#cc7DeltaContainer x:hover {
  color: red;
}
#cc7DeltaContainer ul {
  list-style: none;
  padding: 0;
  margin: 1em 2em;
  font-size: 16px;
}
#cc7DeltaContainer ul li {
  margin: 0.5em 0;
  text-align: left;
}
#cc7DeltaContainer h3,
#cc7DeltaContainer h2 {
  text-align: left;
  padding-left: 1em !important;
}
#cc7DeltaContainer h2 {
  margin-top: 0;
  cursor: move;
}

/* CSS */
.login-popup-hidden {
  display: none;
}

#login-popup {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  z-index: 1000;
}
#login-btn,
#dismiss-btn {
  border: none;
  color: white;
  padding: 1em;
  margin: 0.2em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;
}
