#clipboard {
  position: absolute;
  width: auto;
  z-index: 100000000;
  left: 5%;
  right: 5%;
  padding: 1em;
  border: 2px solid forestgreen;
  border-radius: 1em;
  height: 40em;
  max-width: 70em;
  min-width: min-content;
  min-height: min-content;
  overflow: auto;
  position: absolute;
  box-shadow: 0.1em 0.1em 0.1em 0.1em lightgreen;
  background: white;
  display: none;
  resize: both;
}

#clipboard.label {
  display: block;
}

#clipboard textarea {
  width: 90%;
  display: block;
  margin: 1em auto;
  height: 10em;
}

#tab-list {
  list-style-type: none;
  display: inline;
  padding-inline-start: 0.5em;
  margin-left: 0;
}

#tab-list .tab {
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  background: rgb(221, 250, 218);
  text-align: center;
  cursor: pointer;
  margin-top: 1px;
  margin-right: 2px;
  border-radius: 10px 10px 0 0;
  font-size: 10pt;
}

#tab-list .active {
  font-weight: bold;
  border-bottom: 2px solid #333;
}

#tab-list .tab-handle {
  cursor: grab;
  display: inline-block;
  padding: 8px 3px 8px 6px;
}
#tab-list .tab-name {
  display: inline-block;
  padding: 8px 6px 8px 3px;
  min-width: 2em;
}
#tab-list .sortable-tab-placeholder {
  display: inline-block;
  padding: 10px 0;
  border: 2px solid red;
  font-size: 10pt;
}

#clipboard .tab:hover {
  background: rgb(192, 248, 187);
}
#clipboard .tab-content {
  display: none;
}

#clipboard #groupInput {
  width: 33%;
  height: 2em;
  min-height: 2em;
  padding: 2pt;
  font-weight: bold;
  margin: 1em 0 0 0.25em;
}

#clipboard #reorderTabs {
  display: inline-block;
  margin: 0;
  width: auto;
}
#clipboard #renameGroup {
  display: inline-block;
  margin: 10px;
  width: auto;
}

#clipboard label {
  margin-left: 2em;
  font-weight: bold;
}

#clipboard button {
  margin: auto;
  display: block;
  width: 12em;
}

#clipboard h1 {
  display: block;
  font-size: 1.2em;
  width: auto;
  text-align: center;
  position: relative;
  cursor: move;
}

#clipboard p {
  text-align: center;
}

#clipboard table td {
  padding: 0.25em;
}

#clipboard .clipping {
  cursor: default;
}

#clipboard .clipping:hover {
  background: rgb(221, 250, 218);
}

#clipboard[data-type="clipboard"] .clipping:active {
  font-weight: bold;
}

#clipboard h1 x {
  position: absolute;
  top: 0.1em;
  right: 0.2em;
  cursor: pointer;
}

#clipboard h1 x:active {
  font-weight: normal;
}

.theClipboardButtons {
  position: relative;
  top: 0.5em;
  display: inline-block;
}

form[name="a_form"] {
  position: relative;
}

.qa-a-form .theClipboardButtons {
  position: absolute;
  top: -1em;
  display: inline-block;
  margin-top: 0;
}

.theClipboardButtons img.aClipboardButton.button.small,
.theClipboardButtons img.aNotesButton.button.small {
  height: 1em;
  width: 1.2em;
  display: inline-block;
  margin-right: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#clipboard .deleteClipping,
#clipboard .editClipping {
  cursor: pointer;
}

#clipboard .deleteClippingButton {
  padding: 5px 15px;
}

#clipboard .deleteClipping:active,
#clipboard .editClipping:active {
  font-weight: bold;
}

#clipboard .editing {
  background: rgb(221, 250, 218);
}

#clipboard tr {
  background: white;
}

#clipboard tr img.button.small {
  margin: 0;
}

#clipboard tr {
  vertical-align: top;
}

#cbtBody caption,
#clipboard .index {
  cursor: move;
}

.editClippingButton {
  height: 1em;
  width: 1em;
}

button.addToMyPlaces {
  margin: 0.3em;
}

#header .theClipboardButtons {
  top: 0;
  left: 0.2em;
}

.qa-header {
  position: relative;
}

.qa-header .theClipboardButtons {
  z-index: 1000;
  position: absolute;
  top: 1em;
  right: 1em;
}

body.qa-body-js-on .button.small {
  padding: 7px 15px;
  background: #25422d;
  border: 0;
  outline: none;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  color: #fff;
  font-weight: normal;
  text-decoration: none !important;
  cursor: pointer;
  line-height: normal;
}

body.qa-body-js-on .deleteClippingButton {
  position: relative;
  top: 0.5em;
}

#clipboard pre {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
  font: inherit;
}

#toolbar .theClipboardButtons {
  top: auto !important;
}

#clipboardInfo {
  display: block;
  margin: 1.5em auto;
  width: 37em;
}
#clipboardInfo b {
  cursor: pointer;
}
#clipboardInfo a {
  padding: 0.2em;
  margin: 0;
}
