.x-page-preview {
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  border: 2px solid #000;
  margin: 0 2rem;
  box-sizing: border-box;
  padding: 10px;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  min-width: min(min(98vw, 94%), 400px);
  max-width: min(98vw, 94%, 1200px);
  max-height: min(90vh, 450px);
  overflow: scroll !important;
  overflow-x: auto !important;
  color: #000;
  font-size: 1.125rem; /* about 18pt on the new design */
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-align: left;
  line-height: normal;
  scrollbar-width: 0;
}

.x-page-preview::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* special handling for previews on pins inside WT+ modal dialogs and autocomplete suggestions */
dialog .x-page-preview,
body > .x-page-preview {
  position: fixed;
  left: 20%;
  top: 40%;
  max-width: 75vw;
  max-height: min(50vh, 450px);
}
.browser-safari dialog:has(> .x-page-preview) {
  /* fixes a Safari bug where the content gets clipped */
  overflow: visible;
}

.x-page-preview,
#pagePreviewInner > div:last-child {
  -webkit-box-shadow: 3px 3px 12px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 12px 6px rgba(0, 0, 0, 0.3);
}

.x-preview-close {
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  margin: 7px;
  font-size: 10px;
  border-radius: 100%;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  line-height: 17px;
  text-align: center;
  vertical-align: middle;
}
.x-preview-close,
.x-preview-close:visited,
.x-preview-close:active {
  color: #fff !important;
  background-color: #25422d;
  text-decoration: none !important;
}

.x-page-preview > .x-first-visible {
  margin-top: 0;
}
.x-page-preview > .x-last-visible {
  margin-bottom: 0;
}

.x-page-preview .preview-title > a {
  color: #393a3c !important;
  text-decoration: none !important;
}

.x-page-preview aside.footnote {
  float: right;
  clear: right;
  z-index: 1;
  box-sizing: border-box;
  padding: 0.75em;
  margin: 0 0.25em 0.5em 0.25em;
  margin-top: 0;
  max-width: min(450px, 100%);
}

.x-page-preview .toc td,
.x-page-preview .toc td > div > h2 {
  margin-top: 0;
}
.x-page-preview .toc,
.x-page-preview .toc td > div > h2,
.x-page-preview .toc td > ul {
  margin-bottom: 0;
}

.x-page-preview .toggle.toggle-toc {
  position: relative;
  top: -2px;
  margin-left: 8px;
}

.x-page-preview:not(.show-title) > .preview-title,
.x-page-preview:not(.show-scissors) > .preview-title .copy--buttons,
.x-page-preview.show-title > .same-title,
.x-page-preview:not(.show-audit) .preview-audit,
.x-page-preview:not(.show-edit) .EDIT,
.x-page-preview:not(.show-edit) .BLANK,
.x-page-preview:not(.show-edit) .preview-links .SMALL,
.x-page-preview:not(.show-edit) .editsection,
.x-page-preview div[style*="clear:"][class*="preview-"]:empty,
.x-page-preview .toc .toctoggle,
.x-page-preview:not(.expand-toc) .toc td > div + ul,
.x-page-preview:not(.show-toc) .toc {
  display: none;
  visibility: hidden;
}

.x-page-preview > br.preview-header {
  line-height: 0;
  visibility: hidden;
}

@media only print {
  .x-page-preview {
    display: none;
  }
}
