.print-only {
  display: none !important;
}

@media only print {
  .print-only {
    display: unset !important;
  }

  body {
    background: white;
  }

  .columns,
  .ten,
  .container .columns,
  .container .six.columns,
  .container .ten.columns {
    float: left;
    clear: left;
    display: initial;
    width: unset;
    margin-left: unset;
    margin-right: unset;
  }

  a[target="_Help"],
  span[title*="for the profile and"],
  div[style="background-color:#e1efbb;"],
  div[style="background-color:#eee;"],
  a[href^="/treewidget/"],
  a[href="/g2g/"],
  a[class="nohover"],
  .no-print-vitals .VITALS,
  .no-print-vitals #nVitals,
  .no-print-research-notes .section-researchnotes,
  .no-print-dna .section-dna,
  .no-print-dna *[class*="section-dna"],
  .no-print-sources .section-sources,
  .star,
  .profile-tabs,
  .showhidetree,
  .row:not(#nVitals),
  .button,
  :not(.VITALS, #nVitals) > .large,
  a[target="_map"] > img[alt="map"],
  .sixteen,
  .five,
  .editsection,
  .EDIT,
  .x-edit,
  .comment-absent,
  .box,
  #views-wrap,
  #footer,
  #commentPostDiv,
  #comments,
  #commentEditDiv,
  #commentG2GDiv,
  #header,
  #showHideDescendants,
  #categories,
  #toc,
  #whatLinksHereSection,
  .x-heading,
  .x-widget,
  .x-audit,
  .x-memories,
  .x-comments,
  .x-merges,
  .x-connections,
  .x-categories {
    display: none !important;
  }

  .printable-heading {
    display: initial !important;
  }

  #nVitals .sidebar-heading {
    display: block !important;
  }
}

.printable-heading {
  margin-bottom: 2em;
  clear: both;
}

.printable-heading > img {
  float: left;
  margin-right: 50px;
  margin-bottom: 1em;
  vertical-align: top;
}

.printable-title {
  display: inline-block;
  font-size: 2.1429em;
  line-height: 1.4em;
  font-weight: bold;
  width: calc(100% - 125px);
}
