.print-only {
  display: none !important;
}

@media only print {
  .print-only {
    display: unset !important;
  }

  .no-print {
    display: none !important;
  }

  .print-content-only a,
  .print-content-only a,
  .print-content-only a {
    color: #008000 !important;
  }

  .print-content-only body {
    width: unset !important;
    height: unset !important;
    font-size: var(--x-print-font-size) !important;
  }

  .print-content-only .SMALL {
    font-size: calc(0.8 * var(--x-print-font-size)) !important;
  }

  .print-content-only h1 {
    font-size: calc(2.2 * var(--x-print-font-size)) !important;
  }

  .print-content-only h2 {
    font-size: calc(1.5 * var(--x-print-font-size)) !important;
  }

  .print-content-only h3 {
    font-size: calc(1.2 * var(--x-print-font-size)) !important;
  }

  .print-content-only h4,
  .print-content-only h5,
  .print-content-only h6,
  .print-content-only .tree--person {
    font-size: var(--x-print-font-size) !important;
  }

  .print-content-only .container {
    width: unset !important;
    max-width: unset !important;
    margin: unset !important;
    padding: unset !important;
  }

  .print-content-only .x-style-bg,
  .print-content-only .x-relationships .tree--person {
    background: none !important;
    background: none !important;
    margin: unset !important;
    padding: unset !important;
  }

  .print-content-only .x-relationships .row,
  .print-content-only .x-relationships .col,
  .print-content-only .x-heading {
    margin: unset !important;
    padding: unset !important;
  }

  .print-content-only .x-heading {
    border: unset !important;
    padding-bottom: 2rem !important;
  }

  .print-content-only .x-sidebar,
  .print-content-only .col-lg-8 {
    float: left;
    clear: left;
    display: initial;
    width: unset;
    margin-left: unset;
    margin-right: unset;
  }

  .print-content-only .page--divider,
  .print-content-only .x-audit,
  .print-content-only .x-banner,
  .print-content-only .x-callout,
  .print-content-only .x-categories,
  .print-content-only .x-comments,
  .print-content-only .x-connections,
  .print-content-only .x-dna-connections,
  .print-content-only .x-edit,
  .print-content-only .x-footer,
  .print-content-only .x-g2g-posts,
  .print-content-only .x-header,
  .print-content-only .x-leaders,
  .print-content-only .x-memories,
  .print-content-only .x-merges,
  .print-content-only .x-photos,
  .print-content-only .x-privacy,
  .print-content-only .x-tabs,
  .print-content-only .x-toc,
  .print-content-only .x-widget,
  .print-content-only a[target="_map"],
  .print-content-only.no-print-dna *[class*="section-dnaconfirmations"],
  .print-content-only.no-print-dna .section-dnaconfirmations,
  .print-content-only.no-print-research-notes .section-researchnotes,
  .print-content-only.no-print-sources .section-sources,
  .print-content-only.no-print-sources sup.reference,
  .print-content-only.no-print-vitals #nVitals,
  .print-content-only.no-print-vitals .VITALS {
    display: none !important;
  }
}
