.g2g {
  float: right;
  border: 0;
}

#wtIDgo_label {
  padding: 0;
}
.g2g input#wtIDgo_go,
.g2g #wtIDgo_label input {
  font-size: 1.3em;
}

.g2g input#wtIDgo_go {
  height: 70%;
  margin-top: 5%;
  padding: 2px;
}

.g2g #wtIDgo_id {
  height: 1em;
}

div.qa-q-item-title a:link .checkmark,
span.qa-q-item-meta a.qa-q-item-what:link .checkmark {
  color: white;
}

div.qa-q-list-item.qa-q-list-item-featured div.qa-q-item-title a:link .checkmark,
span.qa-q-item-meta a.qa-q-item-what:link .checkmark {
  color: #ffc;
}

div.qa-q-item-title a:visited .checkmark,
div.qa-q-list-item.qa-q-list-item-featured div.qa-q-item-title a:visited .checkmark,
span.qa-q-item-meta a.qa-q-item-what:visited .checkmark {
  color: forestgreen;
}

.checkmark {
  position: absolute;
  margin-left: -0.75em;
}

span.qa-q-item-meta a.qa-q-item-what:visited .checkmark {
  margin-left: -1em;
}
