.collapse-toggle,
.collapse-all-toggle,
.collapse-toc-toggle {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 2px 5px !important;
  font-size: 0.8em !important;
  border-radius: 0.5em;
  position: absolute;
  top: 50%;
  left: -1.8em;
  transform: translateY(-50%);
  margin: 0;
  padding: 2px 10px;
  font-family: monospace;
  background-color: #eee;
  color: #333;
}
.collapse-toc-toggle {
  position: absolute;
  top: 50%;
  left: -1.3em;
  transform: translateY(-50%);
  margin: 0;
  padding: 2px 8px;
  top: 1.8em !important;
}
.toclevel-2 .collapse-toc-toggle,
.toclevel-3 .collapse-toc-toggle,
.toclevel-4 .collapse-toc-toggle,
.toclevel-5 .collapse-toc-toggle,
.toclevel-6 .collapse-toc-toggle,
.toclevel-7 .collapse-toc-toggle,
.toclevel-8 .collapse-toc-toggle {
  top: -1.2em !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
}
h1 .collapse-all-toggle {
  left: -1.5em;
}

.collapse-toggle:hover,
.collapse-all-toggle:hover,
.collapse-toc-toggle:hover {
  background-color: #e0e0e0;
}

#toc ul .collapse-toc-toggle {
  margin: 0;
  top: auto;
  left: -3em;
}
#toc {
  width: 100%;
}
