.collapse-toggle,
.collapse-all-toggle {
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 2px 5px !important;
  font-size: 0.6em !important;
  border-radius: 0.5em;
  float: right;
  margin: 0.3em 0.2em;
}

.collapse-toggle:hover {
  background-color: #e0e0e0;
}
