#toolbar.sticky {
  position: sticky;
  top: 5.5vh;
  background: white;
  z-index: 19;
}
.sticky-header #toolbar.sticky {
  top: calc(0px + var(--x-sticky-banner-height) + var(--x-sticky-header-height) + var(--x-sticky-toolbar-height));
}
body[class*="page-Space_"].stickyToolbar #wpSave.small {
  margin-top: -2em !important;
}
