#unconnectedBranchTable.wrap {
  width: 80%;
  white-space: normal;
}
#unconnectedBranchTable .date {
  white-space: nowrap;
}
#unconnectedBranchTable {
  white-space: nowrap;
  height: auto;
  max-height: 40em;
  overflow: auto;
  position: absolute;
  width: auto;
  left: 10%;
  z-index: 3000;
  background: white;
  border: 3px solid forestgreen;
  border-radius: 1em;
  box-shadow: 1em 1em 1em #ccc;
  display: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  text-align: left;
}

#unconnectedBranchTable caption {
  font-size: 1.5em;
  font-weight: bold;
  cursor: move;
}

#unconnectedBranchTable x {
  float: right;
  margin-right: 0.5em;
  font-weight: bold;
  cursor: pointer;
}
#unconnectedBranchTable w {
  position: absolute;
  top: 0;
  left: 0.5em;
  font-weight: bold;
  cursor: pointer;
}
#unconnectedBranchTable .BioPerson {
  font-weight: bold;
}
#unconnectedBranchTable tr.BioPerson.Birth {
  border-top: 1px solid forestgreen;
}
#unconnectedBranchTable tr.BioPerson.Death {
  border-bottom: 1px solid forestgreen;
}
#unconnectedBranchTable caption {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

#unconnectedBranchTable x {
  right: 0;
  margin: 0;
  padding: 0.2em;
  font-size: 0.8em;
}

#unconnectedBranchTable thead {
  position: sticky;
  top: 30px;
  background-color: #fff;
  z-index: 1;
}
#unconnectedBranchTable td,
#unconnectedBranchTable th {
  padding: 0 0.3em;
}

#unconnectedBranchTable tbody tr {
  background-color: #efe;
  border-left: 5px green solid;
}

#unconnectedBranchTable tbody tr[data-gender="Male"] {
  background-color: #eef !important;
  border-left: 5px blue solid !important;
}

#unconnectedBranchTable tbody tr[data-gender="Female"] {
  background-color: #fee !important;
  border-left: 5px pink solid !important;
}

#unconnectedBranchTable thead tr {
  border: 2px solid forestgreen;
}

#unconnectedBranchTable thead th[id] {
  cursor: pointer;
}

#unconnectedBranchTable td[data-sort-date] {
  white-space: nowrap;
}

#shakingTree {
  z-index: 1000000;
  height: 50px;
  border-radius: 50%;
  border: 2px solid forestgreen;
}
