h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

/* Options page */
.feature-information {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #333;
  padding: 10px;
}
.feature-header {
  display: flex;
  flex-direction: row;
}
.feature-name {
  color: #333;
  font-size: large;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.feature-description {
  padding: 10px 0 0 70px;
  font-size: medium;
}
.feature-options {
  padding: 10px 0 0 70px;
  font-size: medium;
}
.feature-options-button {
  border-radius: 34px;
  background-color: #8fc641;
  font-size: medium;
  width: 120px;
  border: 0px;
  margin-left: 20px;
}

/* Option elements */
.option-subheading {
  font-size: medium;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 2px;
}
.option-subcontainer {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.option-text-line {
  font-size: medium;
  font-style: italic;
  margin: 2px 2px;
}
.option-checkbox {
  margin: 4px 0px;
}
.option-select {
  margin: 2px 2px;
}
.option-number {
  margin: 2px 0px;
  width: 40px;
}
.option-comment {
  font-style: italic;
  padding-left: 20px;
  display: inline-block;
}

#options h1,
#options h2 {
  background: url("https://www.wikitree.com/images/header-bg-sm.gif") bottom repeat-x #f7f6f0;
  height: 47px;
  padding: 0.5em;
  position: relative;
  font-size: 2em;
}
#options h2 {
  height: auto;
  padding-bottom: 1em;
  background-color: #e1f0b4;
  background-image: none;
}
#options #h1Text {
  margin-left: 1em;
  display: inline-block;
  top: -0.5em;
  position: relative;
}

/* Feature toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #8fc641;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
#options h2 div.feature-toggle {
  float: right;
}
#options h1 div.feature-toggle {
  float: right;
}
#options #saveOptions {
  position: fixed;
  top: 1em;
  right: 1em;
}

/* content */
#wte-topMenuUL {
  margin-right: 1em;
}
