@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

html {
  font-size: 12px;
  min-width: 780px;
  -webkit-user-select: none;
  user-select: none;
}

body {
  /* override the injected stylesheet from Chrome which is percentage-based to match the root size */
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  /* override Safari's semi-transparent background */
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

a {
  color: #6d9731;
  text-decoration: underline;
  outline: 0;
}
a:active {
  color: #060;
  text-decoration: none;
}
a:not(.nohover):hover {
  text-decoration: none;
  background: #ffe270;
}

html,
body,
h1 {
  margin: 0;
}

:root {
  scroll-behavior: smooth;
}

/* Modal dialogs */
dialog {
  max-width: 100vw;
  max-height: 100vh;
  user-select: none;
  border: 1px solid #000;
  padding: 0;
  -webkit-box-shadow: 3px 3px 12px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 12px 6px rgba(0, 0, 0, 0.3);
}
dialog::backdrop {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}
dialog > .dialog-content {
  box-sizing: border-box;
  max-width: 90vw;
  max-height: 80vh;
  margin-top: 31px;
  padding: 10px;
  overflow: auto;
}
dialog .dialog-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 31px;
  background-color: #ddd;
  padding: 0 30px 0 10px;
  line-height: 30px;
  font-weight: bold;
}
dialog .close {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  font-size: 15px;
  font-weight: normal;
  padding: 0 10px;
}
dialog .close,
dialog .close:visited,
dialog .close:active {
  color: #000;
  text-decoration: none;
}
dialog .close:hover {
  color: #fff;
  background-color: #8fc641;
  text-decoration: none;
}

/* content */
#wte-topMenuUL {
  margin-right: 1em;
}

.hide-unless-wikitree,
.is-on-wikitree .hide-on-wikitree {
  display: none;
}
.is-on-wikitree .hide-unless-wikitree {
  display: revert;
}
