@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

html {
  font-size: 12px;
  min-width: 780px;
}

body {
  /* override the injected stylesheet from Chrome which is percentage-based to match the root size */
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

a {
  color: #060;
  text-decoration: underline;
  outline: 0;
}
a:active {
  color: #8ec641;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  background: #ffe270;
}

html,
body,
h1 {
  margin: 0;
}

/* Options page */
.feature-information {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #333;
  padding: 10px;
}
.feature-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feature-header-left {
  display: flex;
}
.feature-name {
  color: #333;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.feature-author {
  text-align: right;
}
.feature-description {
  padding: 10px 0 0 70px;
  font-size: 16px;
}
.feature-link {
  font-size: 12px;
}
.feature-options {
  padding: 10px 0 0 70px;
  font-size: 16px;
}
.feature-options-button {
  border-radius: 34px;
  background-color: #ddd;
  font-size: 16px;
  padding: 0 17px;
  min-width: 130px;
  border: 0;
  margin-left: 20px;
  cursor: pointer;
}
.feature-options-button:hover {
  background-color: #8fc641;
}

/* Option elements */
.option-subheading {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 2px;
}
.option-subcontainer {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.option-text-line {
  font-size: 16px;
  font-style: italic;
  margin: 2px;
}
.option-checkbox {
  margin: 4px 0;
}
.option-select {
  margin: 2px;
}
.option-number {
  margin: 2px 0;
  width: 40px;
}
.option-comment {
  font-style: italic;
  padding-left: 20px;
  display: inline-block;
}

/* Make the header (h1) sticky */
body {
  position: relative;
  padding-top: 70px;
}
#options h1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f7f6f0;
  -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.13);
  height: 40px;
  z-index: 100;
}
h2[id^="category_"] {
  scroll-margin-top: 90px;
}
:root {
  scroll-behavior: smooth;
}

#categoryBar {
  position: fixed;
  top: 62px;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.13);
  height: 28px;
  z-index: 99;
  overflow: hidden;
}
#categoryBar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 32px;
  text-align: center;
}
#categoryBar > ul > li {
  display: inline-block;
  margin: 0 1em;
}
#categoryBar > ul > li > a {
  text-decoration: none;
  padding: 2px 8px;
}
#categoryBar > ul > li:first-child {
  margin-left: 0;
}
#categoryBar > ul > li:last-child {
  margin-right: 0;
}

#options h1,
#options h2 {
  padding: 0.5em;
  font-size: 24px;
}
#options h2 {
  position: relative;
  padding-bottom: 1em;
  background-color: #e1f0b4;
}
#options #h1Text {
  margin-left: 1em;
  display: inline-block;
  top: -0.5em;
  position: relative;
}

/* Feature toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #8fc641;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
#options h2 div.feature-toggle {
  float: right;
}
#options h1 div.feature-toggle {
  float: right;
}
#options #saveOptions {
  position: fixed;
  top: 1em;
  right: 1em;
}

h1 .feature-toggle {
  margin-left: 0.5em;
}
h1 #settings {
  float: right;
  position: relative;
}
h1 #settings,
#settingsDialog button {
  background-color: #ddd;
  padding: 0 17px;
  height: 34px;
  line-height: 34px;
  border-radius: 34px;
  border: 0;
  font-size: 16px;
}
h1 #settings:hover,
#settingsDialog button:hover {
  background-color: #8fc641;
  cursor: pointer;
}
h1 #settings:active,
#settingsDialog button:active {
  box-shadow: 0;
}

.modal {
  position: fixed;
  z-index: 999;
  background: rgba(204, 204, 204, 0.6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.modal .dialog {
  position: relative;
  border: 1px solid #000;
  background-color: #fff;
  margin: calc(clamp(100px, calc(var(--dialog-height, 0px) + 51px), 580px) / -2) auto 0 auto;
  top: 50%;
  width: 80%;
  height: clamp(100px, calc(var(--dialog-height, 0px) + 51px), 580px);
  font-size: 16px;
}
.modal .dialog:before {
  content: " ";
  display: block;
  position: absolute;
  background: none;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-box-shadow: 3px 3px 12px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 12px 6px rgba(0, 0, 0, 0.3);
}
.dialog .dialog-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 31px;
  background-color: #ddd;
  padding: 0 30px 0 10px;
  line-height: 30px;
  font-weight: bold;
}
.dialog .close {
  position: absolute;
  display: inline-block;
  right: 0;
  top: 0;
  font-size: 15px;
  font-weight: normal;
  padding: 0 10px;
}
.dialog .dialog-content {
  position: absolute;
  padding: 10px;
  top: 31px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}
.dialog .close,
.dialog .close:visited,
.dialog .close:active {
  color: #000;
  text-decoration: none;
}
.dialog .close:hover {
  color: #fff;
  background-color: #8fc641;
  text-decoration: none;
}

#settingsDialog ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#settingsDialog li {
  margin-top: 10px;
}
#settingsDialog li:first-child {
  margin-top: 0;
}

/* content */
#wte-topMenuUL {
  margin-right: 1em;
}

.hide-unless-wikitree,
.is-on-wikitree .hide-on-wikitree {
  display: none;
}
.is-on-wikitree .hide-unless-wikitree {
  display: revert;
}
