/* Options page */
.feature-information {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #333;
  padding: 10px;
}
.feature-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.feature-header-left {
  display: flex;
}
.feature-name {
  color: #333;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.feature-author {
  text-align: right;
}
.feature-description {
  padding: 10px 0 0 70px;
  font-size: 16px;
}
.feature-help-link{
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.feature-link {
  font-size: 12px;
}
.feature-options {
  padding: 10px 0 0 70px;
  font-size: 16px;
}
.feature-options-button {
  border-radius: 34px;
  background-color: #ddd;
  font-size: 16px;
  padding: 0 17px;
  min-width: 130px;
  border: 0;
  margin-left: 20px;
  cursor: pointer;
}
.feature-options-button:hover {
  background-color: #8fc641;
}

/* Option elements */
.option-subheading {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 2px;
}
.option-subcontainer {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.option-text-line {
  font-size: 16px;
  font-style: italic;
  margin: 2px;
}
.option-checkbox {
  margin: 4px 0;
}
.option-select {
  margin: 2px;
}
.option-number {
  margin: 2px 0;
  width: 40px;
}
.option-comment {
  font-style: italic;
  padding-left: 20px;
  display: inline-block;
}

/* Make the header (h1) sticky */
#options {
  position: relative;
  padding-top: 70px;
}
#options h1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f7f6f0;
  -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.13);
  height: 40px;
  z-index: 100;
}
#options h2[id^="category_"] {
  scroll-margin-top: 90px;
}

#categoryBar {
  position: fixed;
  top: 62px;
  left: 0;
  right: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.13);
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.13);
  height: 28px;
  z-index: 99;
  overflow: hidden;
}
#categoryBar > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 32px;
  text-align: center;
}
#categoryBar > ul > li {
  display: inline-block;
  margin: 0 1em;
}
#categoryBar > ul > li > a {
  text-decoration: none;
  padding: 2px 8px;
}
#categoryBar > ul > li:first-child {
  margin-left: 0;
}
#categoryBar > ul > li:last-child {
  margin-right: 0;
}

#options h1,
#options h2 {
  padding: 0.5em;
  font-size: 24px;
}
#options h2 {
  position: relative;
  padding-bottom: 1em;
  background-color: #e1f0b4;
}
#options #h1Text {
  margin-left: 1em;
  display: inline-block;
  top: -0.5em;
  position: relative;
}

#options h2 div.feature-toggle {
  float: right;
}
#options h1 div.feature-toggle {
  float: right;
}
#options #saveOptions {
  position: fixed;
  top: 1em;
  right: 1em;
}

h1 .feature-toggle {
  margin-left: 0.5em;
}
h1 #settings {
  float: right;
  position: relative;
}
h1 #settings,
#settingsDialog button,
#settingsDialog a.button {
  display: inline-block;
  background-color: #ddd;
  color: #000;
  padding: 0 17px;
  height: 34px;
  line-height: 34px;
  border-radius: 34px;
  border: 0;
  font-size: 16px;
  text-decoration: none;
}
h1 #settings:hover,
#settingsDialog button:hover,
#settingsDialog a.button:hover {
  background-color: #8fc641;
  color: #000;
  cursor: pointer;
}
h1 #settings:active,
#settingsDialog button:active,
#settingsDialog a.button:active {
  color: #000;
  box-shadow: 0;
}
#settingsDialog a.button.download,
#settingsDialog a.button.download:active {
  background-color: #ffe270;
}
#settingsDialog a.button.download:hover {
  background-color: #8fc641;
}
