h2 button.categoryFilterButton.small,
#categoryFiltersLoginButton {
  padding: 5px;
  font-size: x-small;
  margin-left: 0.5em;
  margin-right: 0.5em;
  float: none !important;
}
h2 button.categoryFilterButton.small.active {
  background-color: forestgreen;
  color: white;
}
#categoryFilterButtonsContainer {
  display: inline-block;
  margin: 0.2em 1em;
  padding: 0.2em;
  border: 1px solid forestgreen;
  border-radius: 0.5em;
}
#categoryFiltersTextFilter {
  font-size: small !important;
  padding: 2px !important;
  width: 10em;
  margin: 0.2em 0.5em;
}
