h2 button.categoryFilterButton.small,
#categoryFiltersLoginButton {
  padding: 5px;
  font-size: small;
  margin-left: 0.5em;
  margin-right: 0.5em;
  float: none !important;
}
h2 button.categoryFilterButton.small.active {
  background-color: forestgreen;
  color: white;
}
#categoryFilterButtonsContainer {
  display: inline-block;
  margin: 0.2em 1em;
  padding: 0.2em;
  border: 1px solid forestgreen;
  border-radius: 0.5em;
  max-width: 30em;
}
#categoryFiltersTextFilter,
#categoryFiltersNotFilter {
  font-size: small !important;
  padding: 2px !important;
  width: 10em;
  margin: 0.2em 0.5em;
}
#textFilters label {
  font-size: small;
  display: inline-block;
}
#textFilters {
  display: inline-block;
}

#categoryFilterButtonsContainer {
  text-align: center;
  max-width: ;
}
#categoryFilterButtons {
  display: inline-block;
  font-size: normal;
}

#categoryFilterRadios {
  display: inline-block;
  font-size: small;
  line-height: 1;
  padding: 0;
  margin: 0;
}
#categoryFilterRadios label {
  margin: 0 0.1em;
  padding: 0;
}
