#potentialMatchesSection tr.locationFiltered,
#potentialMatchesSection tr.nameFiltered,
#potentialMatchesSection tr.dateFiltered {
  display: none;
}
#filterButtons {
  float: right;
}
#filterButtons button {
  margin-left: 0.5em;
}
body.page-Special_EditFamilySteps table {
  clear: both;
}
#potentialMatchesSection td span.nameMatchSpan {
  border: 2px solid forestgreen;
  background-color: #8fc641;
  padding: 0.2em;
}
#potentialMatchesSection td span.birthLocationMatchSpan {
  border: 2px solid forestgreen;
  background-color: #a5d167;
}
#potentialMatchesSection td span.partialBirthLocationMatchSpan {
  border: 2px solid #e1f0b4;
  background-color: rgb(196, 245, 196);
}
#potentialMatchesSection td span.deathDateMatchSpan {
  border: 2px solid darkgrey;
  background-color: #dedecb;
}
#potentialMatchesSection td span.deathYearMatchSpan {
  border: 2px solid rgb(216, 216, 216);
  background-color: #f0f0eb;
}

/* Darker tones for death 
#393A3C
 
#666666
 
#dedecb */
#potentialMatchesSection td span.deathLocationMatchSpan {
  border: 2px solid darkgrey;
  background-color: #25422d;
  color: #dedecb;
}
#potentialMatchesSection td span.partialDeathLocationMatchSpan {
  border: 2px solid darkgrey;
  background-color: #393a3c;
  color: #dedecb;
}

#potentialMatchesSection td span.birthDateMatchSpan {
  border: 2px solid #fcb815;
  background-color: #fad158;
}
#potentialMatchesSection td span.birthYearMatchSpan {
  border: 2px solid #fcb815;
  background-color: #ffe270;
}
#potentialMatchesSection td span.matchSpan {
  margin: 0.2em;
  padding: 0.2em;
  display: inline-block;
}
