:root {
  --a11y-spacing: 1em;
}

.a11y-list-spacing .x-content > ol > li,
.a11y-list-spacing .x-content > ul > li {
  margin-top: var(--a11y-spacing);
  margin-bottom: var(--a11y-spacing);
}

.a11y-src-spacing ol.x-sources > li,
.a11y-src-spacing ul.x-sources > li {
  margin-top: var(--a11y-spacing);
  margin-bottom: var(--a11y-spacing);
}

.a11y-src-bold .a11y-src-first {
  font-weight: bold;
}

.a11y-ref-clean sup.reference a {
  text-decoration: none;
}