.wrongPeriod {
  background: #ffe6ea;
}

.familyLoc.rightPeriod {
  background: #daf7a6;
}

.familyLoc1.rightPeriod {
  background: #daf7a6;
}

.familyLoc2.rightPeriod {
  background: lightgreen;
}

.autocomplete-suggestions div.currentSelectedLocation {
  background: #dcdcdc !important;
}

input[name="mMarriageLocation"] {
  width: 100%;
}

/* Increase vertical spacing between options */
.select2-results__option {
  padding: 1px 6px; /* vertical | horizontal padding */
  margin-bottom: 0px;
}
