.wrongPeriod {
  background: #ffe6ea;
}

.familyLoc.rightPeriod {
  background: #daf7a6;
}

.familyLoc1.rightPeriod {
  background: #daf7a6;
}

.familyLoc2.rightPeriod {
  background: lightgreen;
}

.autocomplete-suggestions div.currentSelectedLocation {
  background: #dcdcdc !important;
}

input[name="mMarriageLocation"] {
  width: 100%;
}

/* Reduce vertical spacing between options */
.select2-results__option {
  padding: 1px 6px; /* vertical | horizontal padding */
  margin-bottom: 0px;
}
.country-input .select2-selection__choice {
  margin-top: 4px !important;
  margin-bottom: 2px !important;
  margin-left: 4px !important;
}

input.wbe-location-ready {
  border: #4caf50 3px solid !important;
}

.wbe-location-gear {
  position: absolute !important;
  left: -2.5rem;
}

.autocomplete-suggestions {
  width: max-content !important;
}

.wbe-location-popup {
  display: none;
  position: absolute;
  z-index: 1000;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  right: 0;
  width: 600px;
}

.wbe-loc-status {
  margin-bottom: 6px;
  font-size: 0.9em;
  color: #666;
}
.wbe-loc-status.is-red {
  color: red !important;
}
