body.darkMode html body,
body.darkMode .wrapper,
body.darkMode div:not(.cke_inner.cke_reset, .cke_a_content, .large),
body.darkMode a:link:not(.cke_button, .cke_combo_button),
body.darkMode a:visited:not(.cke_button, .cke_combo_button),
body.darkMode .small,
body.darkMode strong,
body.darkMode .strong,
body.darkMode b,
body.darkMode input,
body.darkMode a.viewsi,
body.darkMode ul.views a,
body.darkMode a:link.activeProfile,
body.darkMode a:hover.activeProfile,
body.darkMode a:visited.activeProfile a:active.activeProfile,
body.darkMode #cke_61_contents,
body.darkMode body.blackLinks strong,
body.darkMode menu#appsSubMenu a,
body.darkMode div.stripes-1,
body.darkMode div.box.rounded,
body.darkMode,
body.darkMode span.qa-a-count,
body.darkMode #appsSubMenu,
body.darkMode table,
body.darkMode table td,
body.darkMode.page-Special_FamilyTree table,
body.darkMode.page-Special_FamilyTree table td,
body.darkMode table.wt th,
body.darkMode table.wt td,
body.darkMode ul.pureCssMenum li,
body.darkMode ul.pureCssMenum li a,
body.darkMode div.CodeMirror pre,
body.darkMode div.CodeMirror span,
body.darkMode div.qa-ask-box td.qa-form-tall-label,
body.darkMode #awtSearch,
body.darkMode #content header,
body.darkMode #content main {
  font-weight: 400;
  background-color: #36393f !important;
  color: #dcddde !important;
}

body.darkMode #yourRelationshipText,
body.darkMode div.qa-body-wrapper {
  background-color: #36393f !important;
}

body.darkMode h1 span,
body.darkMode button.copyWidget,
body.darkMode .qa-form-tall-label label {
  color: white !important;
}

body.darkMode .button,
body.darkMode div.pad form button,
body.darkMode input.button.green.search {
  padding: 12px 12px !important;
}
body.darkMode span.showHideTree,
body.darkMode input[type="submit"] :not([name="wpSearch"]),
body.darkMode span#showHideDescendants {
  padding: 6px !important;
}
body.darkMode .qa-vote-buttons input {
  padding: 0 !important;
}

body.darkMode li {
  background: none !important;
}
body.darkMode div.stripes-1,
body.darkMode div.stripes,
body.darkMode div.getstarted {
  background-image: none !important;
}
body.darkMode menu#appsSubMenu a:hover {
  background: navy !important;
}
body.darkMode ul.profile-tabs li {
  font-weight: bold;
  border: 1px solid white;
}
body.darkMode ul.pureCssMenu ul li a:hover {
  background-color: navy !important;
}
body.darkMode .yourConnection,
body.darkMode #yourConnection {
  background: white !important;
}

body.darkMode #yourConnection {
  margin-right: 4px;
}
body.darkMode input[type="submit"],
body.darkMode button,
body.darkMode input[type="button"],
body.darkMode a.button,
body.darkMode span.showHideTree,
body.darkMode span#showHideDescendants {
  border: 1px solid white !important;
}

body.darkMode input.qa-a-select-button {
  background-image: url("https://www.wikitree.com/g2g/qa-theme/WikiTree/select-star.png") no-repeat !important;
  border: 0 !important;
  background-color: white !important;
}
body.darkMode input.qa-form-light-button.qa-form-light-button-flag,
body.darkMode div.qa-vote-buttons qa-vote-buttons-net input {
  border: 0 !important;
}
body.darkMode #header,
body.darkMode #footer {
  background: #36393f;
}
body.darkMode div.copyWidgetContainer,
body.darkMode div.copyWidgetContainerInner,
body.darkMode div.copyWidgetContainerInner button {
  background: none !important;
}
body.darkMode li.GREEN-ARROW {
  background-blend-mode: color;
}
body.darkMode div.qa-q-item-title a:link .checkmark,
body.darkMode span.qa-q-item-meta a.qa-q-item-what:link .checkmark {
  color: #36393f !important;
}
body.darkMode div.qa-nav-main a:hover,
body.darkMode div.qa-footer a:hover,
body.darkMode div.qa-nav-main a:visited:hover,
body.darkMode div.qa-footer a:visited:hover,
body.darkMode div.qa-nav-sub a:visited:hover,
body.darkMode div.qa-nav-sub a:hover {
  color: #36393f !important;
  background: #dcddde !important;
}
body.darkMode a[href*="wiki/Privacy"] img,
body.darkMode img[src*="images/icons/privacy"] {
  background-color: #9196a1 !important;
  border-radius: 50%;
}

body.darkMode h2,
body.darkMode h1,
body.darkMode h3,
body.darkMode h4,
body.darkMode h5,
body.darkMode h2 span,
body.darkMode h1 span {
  background-color: forestgreen !important;
  border-radius: 5px;
  padding: 3px;
  color: #dcddde;
}
body.darkMode h2 a#wt-id-link:link,
body.darkMode h2 a#wt-id-link:visited {
  background-color: transparent !important;
}

body.darkMode div.qa-main,
body.darkMode div.qa-main {
  background-color: #42454d !important;
}

body.darkMode .qa-c-item-meta,
body.darkMode .qa-a-item-meta,
body.darkMode .qa-q-item-meta {
  color: cyan;
}

body.darkMode .dtcAddTest {
  color: aquamarine;
}

body.darkMode.page-Main_Page #wpSearch {
  padding: 13px 30px 14px;
}
body.darkMode.page-Main_Page #wpSearch:hover {
  color: gold;
}
body.darkMode #header,
body.darkMode div.logo,
body.darkMode div.logo *,
body.darkMode ul.pureCssMenu,
body.darkMode ul.pureCssMenu a,
body.darkMode .pureCssMenum,
body.darkMode .pureCssMenum,
body.darkMode .home,
body.darkMode .person,
body.darkMode .add,
body.darkMode .find,
body.darkMode .help,
body.darkMode a.pureCssMenui {
  background-color: #2f3137 !important;
}

body.darkMode button.copyWidget,
body.darkMode div.comment-actions button.button,
body.darkMode span.commentContainerToggle button,
body.darkMode div.qa-vote-buttons input,
body.darkMode input.qa-favorite-button,
body.darkMode #wtIDgo_go,
body.darkMode input.qa-form-light-button-reshow,
body.darkMode input.qa-form-light-button-hide,
body.darkMode input.qa-form-light-button-edit,
body.darkMode.profile input[name="wpSearch"] {
  border: 0 !important;
}

body.darkMode form div.qa-q-list-item.qa-q-list-item-featured,
body.darkMode form div.qa-q-list-item.qa-q-list-item-featured * {
  background-color: #42454d !important;
}
body.darkMode form div.qa-q-list-item.qa-q-list-item-featured,
body.darkMode #header {
  border: 2px solid #ffe183;
  padding: 2px;
}

body.darkMode #header input[name="wpSearch"] {
  background: url("https://www.wikitree.com/images/icons/search-submit-icon.png") white !important;
  font-size: 0;
  top: -5px !important;
  color: transparent !important;
}
body.darkMode.page-Main_Page input[name="wpSearch"] {
  border: 2px solid white;
  background-image: none !important;
  background-color: transparent !important;
  font-size: large;
  color: white !important;
}

body.profile.darkMode div.small_0 a:link,
body.profile.darkMode div.small_0 a:visited,
body.profile.darkMode div.small_0 span,
body.profile.darkMode div.small_1 a:link,
body.profile.darkMode div.small_1 a:visited,
body.profile.darkMode div.small_1 span,
body.profile.darkMode div.small_2 a:link,
body.profile.darkMode div.small_2 a:visited,
body.profile.darkMode div.small_2 span {
  color: #36393f !important;
  background: none !important;
}
body.profile.darkMode div.small_0,
body.profile.darkMode div.small_1,
body.profile.darkMode div.small_2,
body.darkMode .qa-form-tall-label,
body.darkMode #editToolbarButton,
body.darkMode .familyCount1,
body.darkMode .familyCount2,
body.darkMode .familyCount3,
body.darkMode .familyCount4,
body.darkMode .familyCount5,
body.darkMode .familyCount6,
body.darkMode .familyCount7,
body.darkMode .familyCount8,
body.darkMode .familyCount9,
body.darkMode .familyCount10,
body.darkMode .familyCount11,
body.darkMode .familyCount12,
body.darkMode .familyCount13,
body.darkMode .familyCount14,
body.darkMode .familyCount15,
body.darkMode span.HISTORY-DATE,
body.darkMode span.THANKYOU-DATE {
  color: #36393f !important;
}
body.profile.darkMode div.small_0 {
  background-color: #ffe183 !important;
}
body.profile.darkMode div.small_1 {
  background-color: #e1efbb !important;
}
body.profile.darkMode div.small_2,
body.profile.darkMode span.HISTORY-DATE + div {
  background-color: #eee !important;
}

body.darkMode div#footer {
  background-color: #37474f !important;
}

/* Code Mirror and edit page*/
body.darkMode div.CodeMirror span.cm-mw-section-header {
  background-color: #607d8b !important;
}
body.darkMode div.CodeMirror span.cm-mw-ext-ref,
body.darkMode div.CodeMirror span.cm-mw-tag-ref,
body.darkMode div.CodeMirror pre.cm-mw-tag-ref,
body.darkMode div.CodeMirror pre.cm-mw-tag-ref span,
body.darkMode div.six div.EXAMPLE {
  background-color: #607d8b !important;
}
body.darkMode div.CodeMirror span.cm-mw-template-bracket,
body.darkMode div.CodeMirror span.cm-mw-link-bracket,
body.darkMode div.CodeMirror span.cm-mw-link-delimiter,
body.darkMode div.CodeMirror span.cm-mw-link-ground {
  color: #fff !important;
  background-color: #607d8b !important;
}

body.darkMode.page-Special_EditPerson div.five table tr:nth-child(1) div,
body.darkMode.page-Special_EditPerson div.five table tr:nth-child(1) div a:link,
body.darkMode.page-Special_EditPerson div.five table tr:nth-child(1) div a:visited,
body.darkMode.page-Special_EditPerson div.five table ol li[style="background-color:#eef;"],
body.darkMode.page-Special_EditPerson div.five table ol li[style="background-color:#eef;"] a:link,
body.darkMode.page-Special_EditPerson div.five table ol li[style="background-color:#eef;"] a:visited {
  background-color: #1a237e !important;
}
body.darkMode.page-Special_EditPerson div.five table tr:nth-child(2) div,
body.darkMode.page-Special_EditPerson div.five table tr:nth-child(2) div a:link,
body.darkMode.page-Special_EditPerson div.five table tr:nth-child(2) div a:visited,
body.darkMode.page-Special_EditPerson div.five table ol li[style="background-color:#fee;"],
body.darkMode.page-Special_EditPerson div.five table ol li[style="background-color:#fee;"] a:link,
body.darkMode.page-Special_EditPerson div.five table ol li[style="background-color:#fee;"] a:visited {
  background-color: #7d1b7e !important;
}
