h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333333;
}

/* Options page */
.feature-information {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #333;
  padding: 10px;
}
.feature-header {
  display: flex;
  flex-direction: row;
}
.feature-name {
  color: #333;
  font-size: large;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.feature-description {
  padding: 10px 0 0 70px;
  font-size: medium;
}
button {
  background-color: #25422d;
  color: white;
  padding: 7px 15px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
}
button:hover {
  background-color: #8fc641;
}
#saved {
  margin-left: 2em;
  padding: 1em;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.2em #25422d;
}
#saveOptions:active {
  border: 2px solid gold;
}

/* Feature toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ddd;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #8fc641;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
#options h2 div.feature-toggle {
  float: right;
}
#options h1 div.feature-toggle {
  float: right;
  margin-right: 45%;
}
#options #saveOptions {
  position: fixed;
  top: 1em;
  right: 1em;
}
#options h2,
#options h1 {
  background: forestgreen;
  color: white;
  padding: 1em;
}

/* content */
#wte-topMenuUL {
  margin-right: 1em;
}
