body.dnatests table.wbe thead th,
body.dnatests table.wbe {
  width: auto !important;
}
.browser-safari body.dnatests table.wbe {
  min-width: 100%; /* auto doesn't seem to work on Safari, so we have to force it to stretch the table */
}
body.dnatests table.wbe th.selected {
  background-color: #25422d;
}
body.dnatests table.wbe td {
  white-space: nowrap;
}
body.dnatests #birthplace {
  cursor: pointer;
  text-decoration: underline;
}
body.dnatests #birthplace:hover {
  text-decoration: none;
}
#showBirthplacesButton[disabled],
#showBirthplacesButton[disabled]:hover,
#showBirthplacesButton[disabled]:active {
  background-color: gray;
}
#showBirthplacesButton {
  float: left;
}
