body.page-Special_SearchPerson #saveSearchFormButton {
  float: right;
}

@media print {
  body.w10 div.sixteen.columns:has(#descendantsContainer) {
    width: auto;
    float: none;
  }
}

body.page-Special_SearchPerson #onlyMembers.active {
  border: 2px solid forestgreen;
  padding: 0.2em 0.5em;
  background: peachpuff;
  border-radius: 5px;
}
