body.page-Special_Connection .wideTableButton {
  float: left;
}

body.my-connections #tree.waiting {
  position: absolute;
  height: 50px;
  border-radius: 50%;
  border: 2px solid forestgreen;
}

body.my-connections .degreeCount {
  border-collapse: collapse;
  border: 1px solid forestgreen;
  margin: 1em;
}

body.my-connections .degreeCount th {
  text-align: left;
  padding: 0.5em 1em;
}

body.my-connections .degreeCount td {
  padding: 0.5em 1em;
  text-align: center;
}

button.myConnectionsMoreButton.small,
button.myConnectionsTableButton.small,
button#myConnectionsLoginButton {
  margin-left: 2em;
  padding: 0.5em;
  font-size: 0.5em;
}
button#myConnectionsLoginButton {
  margin: 0 0 0.5em 0.5em;
  position: relative;
  top: -0.3em;
}

button.myConnectionsMoreButton.small.hidden,
button.myConnectionsTableButton.small.hidden {
  visibility: hidden;
}

body.page-Special_Connection .tableContainer {
  float: left;
  width: 100%;
}

body.my-connections .tableContainer {
  padding-left: 4em;
}

body.my-connections table.wt.names.compact.wide,
body.my-connections .tableContainer table.wide {
  white-space: nowrap;
  table-layout: auto;
}

body.my-connections .peopleTable {
  clear: both;
}

body.my-connections .peopleTable tr {
  border: 1px solid gray;
  border-radius: 0.5em;
}

body.my-connections .peopleTable td {
  padding: 5px;
}

body.my-connections .peopleTable .aDate,
body.my-connections .familySheet .aDate {
  white-space: nowrap;
}

body.my-connections .peopleTable .aDate {
  border-right: 2px solid white;
  border-left: 2px solid white;
}

body.my-connections .peopleTable tbody .privacyImage {
  float: right;
  background-color: white;
  border-radius: 1em;
  border: 1px forestgreen solid;
  display: block;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  font-weight: bold;
  text-align: center;
}

body.my-connections .peopleTable tbody .privacyImage {
  border: none;
  position: relative;
  float: right;
}

body.my-connections .peopleTable a:link,
body.my-connections .peopleTable a:visited {
  text-decoration: none;
}

button.myConnectionsMoreButton.small,
button.myConnectionsTableButton.small {
  margin-left: 2em;
  padding: 0.5em;
  font-size: 0.5em;
}

button.myConnectionsMoreButton.small.hidden,
button.myConnectionsTableButton.small.hidden {
  visibility: hidden;
}

body.my-connections img.missingPerson {
  height: 15px;
  width: 15px;
  position: absolute;
}

body.my-connections img.myConnectionsNoFather {
  left: -0.5em;
  border-radius: 50%;
  border: 2px solid blue;
}

body.my-connections img.myConnectionsNoMother {
  left: 0.5em;
  border-radius: 50%;
  border: 2px solid pink;
}

body.my-connections img.myConnectionsNoSpouse {
  left: 1.5em;
}

body.my-connections .peopleTable #created,
body.my-connections .peopleTable #edited,
body.my-connections .peopleTable td.created,
body.my-connections .peopleTable td.edited {
  display: none;
}

body.my-connections .peopleTable.wide #created,
body.my-connections .peopleTable.wide #edited,
body.my-connections .peopleTable.wide td.created,
body.my-connections .peopleTable.wide td.edited {
  display: table-cell;
}

body.my-connections .peopleTable tr.notable {
  font-weight: bold;
  border-top: 2px solid forestgreen;
  border-bottom: 2px solid forestgreen;
  border-right: 2px solid forestgreen;
}

body.my-connections .peopleTable caption {
  font-weight: bold;
  text-align: left;
  font-size: 1.3em;
}

body.my-connections .peopleTable .Female,
body.my-connections .Female {
  background-color: #fff8f7;
  border-left: 5px pink solid;
}

body.my-connections .peopleTable .Male,
body.my-connections .Male {
  background-color: #f4fefe;
  border-left: 5px blue solid;
}

body.my-connections .peopleTable {
  clear: both;
}

.peopleTable .aDate {
  border-right: 2px solid white;
  border-left: 2px solid white;
}

body.my-connections .peopleTable .aRelation {
  display: none;
  margin-bottom: 0.5em;
}

body.my-connections .peopleTable .gotRels {
  background: #ffffe0;
  cursor: pointer;
}

body.my-connections .peopleTable .gotRels.show .aRelation {
  display: block;
}

body.my-connections .peopleTable th[id] {
  cursor: pointer;
}

body.my-connections .peopleTable tr.main {
  border: 5px solid forestgreen;
  margin-bottom: 1em;
  border-radius: 1em;
}

body.my-connections .peopleTable .familyHome {
  height: 20px;
  position: absolute;
  left: -2em;
  margin-top: -0.5em;
  z-index: 500;
  cursor: pointer;
}

body.my-connections .peopleTable .familyHome:hover {
  background: gold;
  border-radius: 50%;
  box-shadow: 0.3em 0.3em 0.3em #ccc;
}

body.my-connections .peopleTable .familyHome:active {
  box-shadow: 0.1em 0.1em 0.1em #ccc;
  background: forestgreen;
}

body.my-connections .familySheet {
  position: absolute;
  white-space: nowrap;
  background: white;
  z-index: 2000;
  border: 2px solid forestgreen;
  border-radius: 1em;
  box-shadow: 0.8em 0.8em 0.8em #ccc;
  cursor: move;
  padding: 1em;
}

body.my-connections .familySheet.wrap {
  white-space: normal;
}

body.my-connections .familySheet .self {
  font-weight: bold;
}

body.my-connections .familySheet td {
  padding: 0.2em;
}

body.my-connections .familySheet thead,
body.my-connections .peopleTable thead {
  text-align: left;
}

body.my-connections #buttonBox {
  position: fixed;
  z-index: 5000;
  top: 45%;
  right: -0.5em;
}

body.my-connections #leftButton,
body.my-connections #rightButton {
  width: 30px;
  padding: 0;
  background: forestgreen;
  border: 2px solid green;
  box-shadow: 2px 2px 2px navy;
  height: 50px;
  display: block;
  margin-top: 0.2em;
}

body.my-connections .familySheet x {
  position: absolute;
  top: 0;
  right: 0.5em;
  font-weight: bold;
  cursor: pointer;
}

body.my-connections td.connectionsName .privacyImage {
  position: absolute;
  left: -2em;
}

body.my-connections .peopleTable .privacyImage {
  margin-top: 0.5em;
}

body.my-connections .tableContainer {
  overflow-x: auto;
}

body.my-connections .familyTH,
body.my-connections .familyTD {
  display: none;
}
body.my-connections .missingPersonCell {
  width: 0.5em;
}
body.my-connections .missingPersonZero {
  background-color: white;
  border: 1px solid forestgreen;
}
