:root {
  --x-sticky-banner-height: 0px;
  --x-sticky-header-height: 0px;
  --x-sticky-search-height: 0px;
  --x-sticky-heading-height: 0px;
  --x-sticky-toolbar-height: 0px;
}

@media screen {
  .sticky-header {
    --x-sticky-header-bottom: calc(
      var(--x-sticky-banner-height) + var(--x-sticky-header-height) + var(--x-sticky-search-height) +
        var(--x-sticky-heading-height) + var(--x-sticky-toolbar-height)
    );
    --x-sticky-header-offset: calc(20px + var(--x-sticky-header-bottom));
  }

  .sticky-header a[name],
  .sticky-header *[id]:not(#wpTextbox1) {
    scroll-margin-top: var(--x-sticky-header-offset) !important;
  }

  .sticky-header body > #banner,
  .sticky-header body > header,
  .sticky-header .qa-body-wrapper .qa-header {
    position: sticky;
    z-index: 999; /* same as .tabs--wrapper to place them under modals */
  }

  .sticky-header body > #banner {
    top: 0;
  }

  .sticky-header body > header,
  .sticky-header .qa-body-wrapper .qa-header {
    top: var(--x-sticky-banner-height);
  }

  .sticky-header .qa-body-wrapper .qa-header {
    background-color: #fff;
  }

  .sticky-header body > .tabs--wrapper {
    top: calc(var(--x-sticky-banner-height) + var(--x-sticky-header-height) + var(--x-sticky-search-height)) !important;
    z-index: 997;
  }

  /* make the collapsible search section stick under the header, but on top of the page toolbar */
  .sticky-header #searchBar {
    position: sticky;
    top: calc(var(--x-sticky-banner-height) + var(--x-sticky-header-height)) !important;
    z-index: 998;
  }

  /* keep the sticky help search box below all header elements */
  .sticky-header .sticky-lg-top {
    top: calc(1vh + var(--x-sticky-header-bottom)) !important;
  }

  /* adjust custom tooltips within the page toolbar */
  .sticky-header .wbe-button::before {
    bottom: auto;
    top: 1.6em;
    border-color: transparent transparent #fcb815 transparent;
    z-index: 100000;
  }

  .sticky-header .wbe-button::after {
    bottom: auto;
    top: 3em;
    z-index: 100000;
  }

  .sticky-header div.bs-tooltip-auto {
    z-index: 10000000;
  }
}
