#wikitableCreatorModal {
  position: absolute; /* Absolute positioning */
  z-index: 1000; /* High z-index to appear on top */
  max-width: 90%; /* Set a maximum width to prevent overflow */
  max-height: 80%; /* Adjust as needed */
  padding: 20px;
  border: 1px solid #888;
  background-color: #fefefe;
  overflow: auto;
  border-radius: 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  display: none; /* Initially hidden */
}

#wikitableCreatorModal input[type="number"] {
  width: 3em;
}

#wikitableCreatorModal label {
  display: inline-block;
  margin: 0.2em 1em;
}

.wikitable-creator-close {
  color: #aaa;
  position: absolute;
  top: 0;
  right: 0.2em;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}

.wikitable-creator-close:hover,
.wikitable-creator-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#wikitableCreatorTable input[type="text"] {
  width: 100%;
  padding: 0.5em;
}
