#whatLinksHereLinksProfiles {
  white-space: nowrap;
}

.toggle.toggle-whl {
  position: relative;
  top: -2px;
  margin-left: 8px;
}

#whatLinksHereSection:not(.expand-whl) > h2 + div {
  display: none !important;
}

/* only apply to the first child div (where the profiles live) or else this will interfere with space page previews */
div#whatLinksHere > div:first-child {
  max-width: 50%;
  overflow: overlay;
}
