.copied-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999999;
}

#featureDataButtons button {
  margin: 5px;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
#featureDataButtons {
  text-align: center;
}

#logOutAndBackInMessage {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  z-index: 1000;
  padding: 1em;
  border-radius: 5px;
  box-shadow: 1em 1em 1em #ccc;
}

/* Button features */

.clipboardContainer {
  position: relative;
  display: inline-block;
}

form[name="a_form"] {
  position: relative;
}

.clipboardContainer img.button.small,
.clipboardContainer img.button.small {
  height: 1em;
  width: 1.2em;
  display: inline-block;
  margin-right: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#HEADER span.clipboardContainer {
  position: absolute;
  right: 0;
}

.wbe-button,
.wbe-icon {
  position: relative;
}
.wbe-button span,
.wbe-icon:not(.WBEHelpIcon) span {
  background: transparent left no-repeat;
  background-size: contain;
  display: inline-block;
  height: 25px;
  position: relative;
  width: 26px;
  cursor: pointer;
}

/* Emulate/replicate the new tooltip style */
/* Style for elements with a tooltip */
/* Start tooltip stuff */
[data-tooltip] {
  position: relative;
  cursor: pointer;
}

/* Tooltip styling */
[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 2em; /* position above the element */
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out;
  z-index: 1000;
  background-color: #fcb815;
  color: #25422d;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 0.75rem;
  font-style: normal;
  max-width: 400px !important;
}
.wbe-button::after,
.wbe-icon::after {
  bottom: 3em;
}

/* Show tooltip on hover */
[data-tooltip]:hover::after {
  opacity: 1;
}

/* Add an arrow */
[data-tooltip]::before {
  content: "";
  position: absolute;
  bottom: 0.7em;
  left: 50%;
  transform: translateX(-50%);
  border-width: 7px;
  border-style: solid;
  border-color: #fcb815 transparent transparent transparent;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 1000;
}
.wbe-button::before,
.wbe-icon::before {
  bottom: 1.6em;
}

[data-tooltip]:hover::before {
  opacity: 1;
}

/* Tooltip for the WBE help icon */
.WBEHelpIcon {
  text-indent: 0 !important;
  text-decoration: none !important;
}
.WBEHelpIcon span.icon--help {
  background-size: 22px 22px !important;
  background-position: center !important;
  filter: invert(57%) sepia(98%) saturate(563%) hue-rotate(2deg) brightness(93%) contrast(95%);
}

.WBEHelpIcon::before {
  top: -0.55em !important;
  bottom: auto !important;
  border-color: #fcb815 transparent transparent transparent !important;
}
.WBEHelpIcon::after {
  top: -3em !important;
}
/* End tooltip stuff */

.float-end {
  z-index: 10;
  position: relative;
}

#FamilyGroup-pane,
#FamilyTimeline-pane {
  overflow: auto;
}

.familySheet w {
  cursor: pointer;
}

ul.scissors li {
  margin-right: 0.5em;
}

.wbe-button::before,
.wbe-icon::before {
  bottom: auto;
  top: 1.6em;
  border-color: transparent transparent #fcb815 transparent;
  z-index: 100000;
}

.wbe-button::after,
.wbe-icon::after {
  bottom: auto;
  top: 3em;
  z-index: 100000;
}

div.bs-tooltip-auto {
  z-index: 10000000;
}

div.wbe-button-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
}

#ebWBE {
  font-size: small;
  display: block;
  margin-top: 0.3em;
  min-width: max-content;
}
@media (max-width: 600px) {
  #ebWBE {
    font-size: x-small;
    margin-left: 1em;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  #ebWBE {
    font-size: x-small;
    margin-left: 1em;
  }
}
