.copied-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999999;
}

#featureDataButtons button {
  margin: 5px;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
#featureDataButtons {
  text-align: center;
}
