/* turns a checkbox input into a toggle button */
.toggle {
  --font-px: 15;
  --relative-adjustment: calc(var(--font-px) / 15);
}

.toggle input[type='checkbox'] {
  display: none;
}

.toggle input[type='checkbox'] + label {
  position: relative;
  margin-left: calc(var(--relative-adjustment) * 55px);
  line-height: calc(var(--relative-adjustment) * 24px);
  font-size: calc(var(--relative-adjustment) * 15px);
}

.toggle.label-left input[type='checkbox'] + label {
  margin-left: unset;
  margin-right: calc(var(--relative-adjustment) * 55px);
}

.toggle input[type='checkbox'] + label::before {
  content: ' ';
  display: block;
  position: absolute;
  top: calc(var(--relative-adjustment) * -3px);
  left: calc(var(--relative-adjustment) * -55px);
  width: calc(var(--relative-adjustment) * 45px);
  height: calc(var(--relative-adjustment) * 24px);
  background-color: #ddd;
  border: 1px solid #d3d3d5;
  border-radius: calc(var(--relative-adjustment) * 13px);
  box-shadow: 0 0 calc(var(--relative-adjustment) * 3px) rgba(0, 0, 0, 0.1);
  transition: background-color 0.4s ease;
}

.toggle.label-left input[type='checkbox'] + label::before {
  left: unset;
  right: calc(var(--relative-adjustment) * -55px);
}

.toggle input[type='checkbox'] + label::after {
  content: ' ';
  display: block;
  position: absolute;
  top: calc(var(--relative-adjustment) * -1px);
  left: calc(var(--relative-adjustment) * -53px);
  width: calc(var(--relative-adjustment) * 20px);
  height: calc(var(--relative-adjustment) * 20px);
  background-color: #fff;
  box-shadow: 0 calc(var(--relative-adjustment) * 1px) calc(var(--relative-adjustment) * 2px) rgba(0, 0, 0, 0.2);
  border: 1px solid #d3d3d5;
  border-radius: calc(var(--relative-adjustment) * 11px);
  transition: left 0.4s ease;
}

.toggle.label-left input[type='checkbox'] + label::after {
  left: unset;
  right: calc(var(--relative-adjustment) * -32px);
  transition-property: right;
}

.toggle input[type='checkbox']:checked + label::before {
  background-color: #8fc641;
}

.toggle input[type='checkbox']:checked + label::after {
  left: calc(var(--relative-adjustment) * -32px);
}

.toggle.label-left input[type='checkbox']:checked + label::after {
  left: unset;
  right: calc(var(--relative-adjustment) * -53px);
}
