#themeTable {
  margin: auto;
}
#themeTable caption {
  background: #e1f0b4;
  box-shadow: green 0px 2px 2px 0px;
  border-radius: 1em;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0.2em;
  margin-bottom: 0.7em;
}
#themeTable td {
  padding: 0.2em;
}
#themeTableButton {
  margin: 1em auto;
  width: 10em;
  display: block;
  clear: both;
}
h2.thisWeeksTheme {
  display: none;
}

/* Styles for the comprehensive table */
#comprehensiveTable th,
#comprehensiveTable td,
td.notableName {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  font-weight: bold;
}

#comprehensiveTable th,
td.notableName {
  background-color: #f2f2f2;
}

/* Styles for the matchup table */
.matchup-table th,
.matchup-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.matchup-table th {
  background-color: #f9f9f9;
}

/* Styles for the popup */
#matchup-popup {
  /* Already styled via JS, but additional styles can be added here */
}

#matchup-popup table {
  width: 100%;
}
