#connectionsSection,
#noMatches {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid forestgreen;
  padding-top: 10px;
  border-radius: 5px;
}
#connectionsSection button {
  display: none;
}
#sourcesTab,
#connectionsTab {
  display: none;
}
#noMatches {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
