<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>generateAppStoreInformation</key>
	<false/>
	<key>manageAppVersionAndBuildNumber</key>
	<true/>
	<key>method</key>
	<string>app-store</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.WikiTree.WikiTree-Browser-Extension-Preview</key>
		<string>WBE Preview App (iOS)</string>
		<key>com.WikiTree.WikiTree-Browser-Extension-Preview.Extension</key>
		<string>WBE Preview Extension (iOS)</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Distribution</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>G22D2T42PF</string>
	<key>uploadSymbols</key>
	<true/>
</dict>
</plist>
