#addToExtraWatchlistSpan {
  display: inline-block;

  bottom: 0;
  right: 0;
  z-index: 10000;
  height: 26px;
  width: 26px;
}

.theClipboardButtons img.extraWatchlistButton.button.small {
  height: 1em;
  width: 1.2em;
  display: inline-block;
  margin-right: 0.1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#extraWatchlistWindow {
  width: auto;
  max-width: 60em;
  padding: 1em;
  padding-top: 0;
  border: 2px solid forestgreen;
  border-radius: 1em;
  max-height: 40em;
  overflow: auto;
  position: absolute;
  z-index: 9000;
  box-shadow: 0.1em 0.1em 0.1em 0.1em lightgreen;
  background: white;
}

#extraWatchlistWindow a.button {
  color: white;
}

#extraWatchlistWindow td.wtIDcol {
  width: 10em;
}

#addToExtraWatchlistButton.onList span {
  filter: invert(59%) sepia(29%) saturate(370%) hue-rotate(60deg);
  /*filter: invert(23%) sepia(99%) saturate(543%) hue-rotate(190deg);*/
}

#touchedList a,
#touchedList {
  color: black;
}

#extraWatchlistWindow caption {
  display: none;
  font-variant: small-caps;
  font-weight: bold;
  color: black;
}

#extraWatchlistWindow {
  display: none;
}

#extraWatchlistWindow h2 {
  margin-bottom: 0.2em;
}

.removeFromExtraWatchlist {
  width: 2em;
  cursor: pointer;
}

#importExtraWatchlist,
#exportExtraWatchlist {
  margin: 0.3em;
}

#touchedList thead th[id],
#extraWatchlistWindow thead th[id] {
  cursor: pointer;
}

#touchedList thead,
#extraWatchlistWindow thead {
  text-align: left;
}

#views-wrap {
  position: relative;
}

#extraWatchlistWindow {
  position: absolute;
}

#closeWatchlistWindow {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  background: #25422d;
  color: white;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
  z-index: 1000;
}
#closeWatchlistWindow:active {
  box-shadow: 0;
  padding: 0.4em;
}

#extraWatchlistWindow #importExportButtons {
  z-index: 1000;
  position: absolute;
  top: 0;
  right: 2em;
}

#extraWatchlistWindow #importExportButtons a {
  color: white;
  background: #25422d;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
  margin-left: 0.5em;
  cursor: pointer;
  text-decoration: none;
}

#extraWatchlistTabs li.ui-tabs-active,
#extraWatchlistTabs li.ui-tabs-active a:not(#dummyID) {
  background-color: #fcb815;
  color: black !important;
  font-weight: bold;
}

#extraWatchlistTabs th {
  cursor: pointer;
}

#extraWatchlistTabs table.dataTable tbody td {
  padding: 0;
}
