/* Photo Table */
#photoPopup {
  display: none; /* Hidden by default */
  position: fixed;
  left: 5%;
  right: 5%;
  top: 0;
  bottom: 5%;
  width: 90%;
  padding: 1em;
  border: 2px solid #666;
  box-shadow: #aaa 0 0 10px;
  overflow: auto; /* Enable scroll if needed */
  z-index: 9999;
  background-color: rgba(0, 0, 0, 0.7); /* Black background with transparency */
}
.sticky-header #photoPopup {
  top: 140px;
}
#photoPopup #closeWrapper {
  position: sticky;
  top: 0;
}

body.profile #photoPopup {
  position: relative;
  z-index: inherit;
  left: auto;
  top: auto;
}

#photoPopup .popup-content {
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  overflow-y: scroll; /* Make content scrollable */
}

#photoPopup .photo-table img {
  cursor: pointer;
  width: 75px !important; /* Thumbnail size */
  height: auto;
}

#largeImagePopup {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000000; /* Ensure the large image popup is above everything */
  max-width: 90%; /* Limits width to 90% of the viewport */
  max-height: 90%; /* Limits height to 90% of the viewport */
  background-color: rgba(0, 0, 0, 0.8); /* Optional: adds a background behind the image */
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Optional: adds a shadow for better visibility */
}

#largeImagePopup img {
  width: auto; /* Set width to auto to respect the image’s natural dimensions */
  height: auto; /* Set height to auto to respect the image’s natural dimensions */
  max-width: 100%; /* Ensure the image doesn't exceed the popup's width */
  max-height: 100%; /* Ensure the image doesn't exceed the popup's height */
}

#photoPopup .close {
  position: absolute;
  top: -5px;
  right: 15px;
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
  z-index: 10000; /* Ensure the close button is above everything */
}

#photoPopup .close:hover,
#photoPopup .close:focus {
  color: black;
  cursor: pointer;
}

#photoPopup .titleCell {
  font-weight: bold;
  padding-left: 2em;
}

#loadingGif img {
  border: 2px solid forestgreen;
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 100px;
}
