tr.trSelect:hover {
  background: #ffe270;
}

tr.trSelected {
  background: #cccccc !important;
}

::placeholder {
  color: #bbb;
}

/* dialog formatting  */

dialog {
  max-width: 600px;
}

dialog input[type="text"] {
  min-width: 350px;
  padding: 4px 4px;
  margin: 2px;
}
dialog button,
dialog .button {
  padding: 8px 20px;
  margin: 5px;
}
td button {
  padding: 5px 5px;
  margin: 3px;
  font-size: 14px;
}
dialog select {
  overflow: auto;
  background: unset;
}
dialog textarea {
  width: 100%;
  margin: 5px;
}

.wtPlusRequired {
  background-color: palevioletred;
}
.wtPlusPreferred {
  background-color: palegreen;
}
.wtPlusOptional {
  background-color: palegoldenrod;
}
.wtPlusDeprecated {
  background-color: lightgrey;
  text-decoration-line: line-through;
}

.wtPlusLegend {
  display: none;
  background: white;
  color: black;
  text-align: left;
  font-size: 14px;
  text-transform: none;
  position: absolute;
  bottom: 65px;
  left: 25px;
  padding: 10px;
  border: 1px solid black;
  line-height: 35px;
}

#wtPlusLegendBtn:hover .wtPlusLegend {
  display: block;
}
