#Categories.box {
  display: block;
}
#Categories.box * {
  margin: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#Categories ol.star li {
  margin-left: 1em !important;
}
#Categories a {
  cursor: pointer;
}
#Categories a.new {
  color: red !important;
}
