#suggestionsPopup {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Black background with transparency */
}

#suggestionsPopup .popup-content {
  background-color: white;
  margin: 6em auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 750px;
  max-height: 80%; /* Limit height */
  overflow-y: auto; /* Make content scrollable only when needed */
}

#suggestionsPopup .close {
  position: absolute;
  top: 10px;
  right: 25px;
  color: #aaa;
  font-size: 30px;
  font-weight: bold;
}

#suggestionsPopup .close:hover,
#suggestionsPopup .close:focus {
  color: black;
  cursor: pointer;
}

.suggestions-table {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  position: relative;
}

.suggestions-table h1 {
  margin-top: 0;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 12px;
}

.suggestions-table h2 {
  font-size: 20px;
  margin-bottom: 26px;
  font-weight: normal;
}

.suggestions-table p {
  margin-bottom: 10px;
  font-size: 16px;
}

.suggestions-table strong {
  font-weight: bold;
}

.suggestions-table a {
  text-decoration: none;
  color: #337ab7;
}

.suggestions-table a:hover {
  color: #23527c;
}

.suggestions-table .green-check {
  font-weight: bold;
  padding: 0px 6px;
  border-radius: 3px;
  background-color: #3cb371;
  color: white;
}

#errorMessages,
#warningMessages {
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
  position: relative;
}

#errorMessages p,
#warningMessages p {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 50px;
}

#errorMessages {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #dc143c;
}

#errorMessages::before {
  content: "Errors";
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #dc143c;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

#warningMessages {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #ff9900;
}

#warningMessages::before {
  content: "Warnings";
  position: absolute;
  top: -15px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #ff9900;
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
